body {
    background-color: #f6fcff;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

form {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
   
}

form h5 {
    color: #aaa;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

span {
    text-align: left;
    font-weight: bold;
    color: rgb(125, 44, 125);
}

a, nav button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    transition: .4s;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
  }
  
  a:hover,
  nav button:hover{
    color: #bbb;
  }

input {
    border: none;
    border-bottom: 1px solid #aaa;
    margin-top: 5px;
    padding: 10px;
    background-color: transparent;
    outline: none;
    font-size: 1em;
}

input::placeholder {
    font-size: 1em;
}

input:focus {
  outline: none;
  
}

.btn {
    width: 100%;
    background-color: rgb(19, 142, 52);
    color: white;
    border: none;
    padding: 5px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    transition: .4s;
}

.btn:hover {
    background-color:rgb(22, 160, 59);
}

.btn_resgiter {
    margin-top: 20px;
    max-width: 300px;
    width: 100%;
    padding: 5px;
    font-size: 1em;
    border: 1px solid #cecece;
    border-radius: 10px;
    transition: .4s;
    background-color: #dfdfdf;
    color: #303030;
}

.btn_resgiter:hover {
    background-color: #eaeaea;
}

.error {
    color: #725858;
    background-color: rgb(255, 195, 195);
    padding: 10px;
    border-radius: 10px;
}

.registered {
    color: rgb(59, 133, 83); ;
    background-color: rgb(191, 239, 203);
    padding: 10px;
    border-radius: 10px;
}